@tailwind base;
@tailwind components;
@tailwind utilities;




/* Custom background class for small screens */
.bg-img {
  background-image: url('./img//header/start1.jpg');
  background-size: cover; /* Cover the entire space */
  background-position: center; /* Center the background image */
}

@layer base {
  /* body {
    @apply overflow-hidden text-primary font-secondary bg-white;
  } */
  /* .h1 {
    @apply text-4xl lg:text-[6vw] font-primary font-bold capitalize leading-[120%] tracking-[-0.05em] mb-2;
  } */
  
  /* .btn {
    @apply py-[18px] px-[50px] h-[66px] flex items-center justify-center text-base uppercase font-secondary font-semibold bg-primary text-white;
  } */
}



