/* Import the Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

/* Set Montserrat as the primary font */
body {
    font-family: 'Montserrat', sans-serif;
    
}

/* Optionally, set Montserrat for specific elements */
h1, h2, h3, h4, h5, h6, p, a, li {
    font-family: 'Montserrat', sans-serif;
}


@tailwind base;
@tailwind components;
@tailwind utilities;




/* Custom background class for small screens */
.bg-img {
  background-image: url('./img//header/start1.jpg');
  background-size: cover; /* Cover the entire space */
  background-position: center; /* Center the background image */
}

@layer base {
  /* body {
    @apply overflow-hidden text-primary font-secondary bg-white;
  } */
  /* .h1 {
    @apply text-4xl lg:text-[6vw] font-primary font-bold capitalize leading-[120%] tracking-[-0.05em] mb-2;
  } */
  
  /* .btn {
    @apply py-[18px] px-[50px] h-[66px] flex items-center justify-center text-base uppercase font-secondary font-semibold bg-primary text-white;
  } */
}
@layer base {
  .custom-button {
    @apply relative flex h-[50px] w-[170px] items-center justify-center overflow-hidden bg-slate-800 text-white shadow-2xl transition-all rounded-md;
  }

  .custom-button::before {
    @apply absolute h-0 w-0 rounded-full bg-sky-700 duration-500 ease-out;
    content: '';
  }

  .custom-button:hover::before {
    @apply h-56 w-56;
  }

  .custom-button:hover {
    @apply shadow-sky-700;
  }

  .custom-button span {
    @apply relative z-10;
  }


}

